# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.ChickenPuzzles.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../:\ChickenPuzzles\.idea\.idea.ChickenPuzzles\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
